---
layout: default
title: Contact Khizer Mehdi
---

<h1>Contact</h1>
<p>Feel free to get in touch with me! Feel free to use any of the following
  (E-Mail encouraged):</p>

<ul>
  <li><a href="mailto:mehdidevops@gmail.com">E-Mail (mehdidevops@gmail.com)</a> </li>
  <li><a href="https://twitter.com/mehdidevops">Twitter</a></li>
  <li><a href="http://www.linkedin.com/mehdidevops">LinkedIn</a></li>
</ul>


<h1>Imprint/Impressum</h1>

<dl>
  <dt>Name</dt>
  <dd>Khizer Mehdi</dd>
  <dt>Address</dt>
  <dd>Bangalore, India</dd>
  <dt>E-Mail</dt>
  <dd><a href="mailto:mehdidevops@gmail.com">mehdidevops@gmail.com</a></dd>
</dl>
