---
layout: default
title: Freelancing
---

<h1 class="longform__heading">Freelancing</h1>

<p>
  I'm a freelancing consultant/developer, who can be helpful to you and your company in multiple ways.
  My main expertise is in the following categories:
</p>

<ul>
  <li><a href="#leadership"><strong>Leadership</strong></a></li>
  <li><a href="#performance"><strong>Web Application Performance</strong></a></li>
  <li><a href="#open-source"><strong>Open Source</strong></a></li>
  <li><a href="#mentoring"><strong>Mentoring/Teaching</strong></a></li>
  <li><a href="#development"><strong>Application Development</strong></a></li>
</ul>

<p>
  The bulk of my technical expertise is in Ruby, PostgreSQL and web applications. I also like to do JavaScript
  & CSS.
</p>

<p>
  If you want to get in touch please <a href="mailto:mehdidevops@gmail.com">email me</a>.
  If you want to know more about me check out my <a href="/resume">Resume</a> or my <a href="/talks">Talks</a>.
</p>

<section class="longform__section">
  <h2 class="longform__heading">Availability</h2>
  <p>Booked until the end of 2020.</p>
</section>

<section class="longform__section">
  <h2 class="longform__heading" id="leadership">Leadership</h2>
  <p>
    I've successfully lead teams small and bigger (~15 people). I've also been through the growth process to get from a
    small team to a larger team and the challanges involved therein. These challenges often revolve mostly around
    humans, communication and processes. I'm also well aware of the challenges involved in taking a problem,
    exploring viable solutions and then implementing them.
  </p>

  <p>
    How I might help you:
  </p>
  <ul>
    <li>Interim- CTO/Team-Lead/Head of Engineering/* for you while you look for a permanent replacement</li>
    <li>Help in identifying & hiring candidates for leadership positions</li>
    <li>Handle communication inbetween departments and with integration partners</li>
    <li>Survey current processes and their problems</li>
    <li>Suggest and implement changes to processes and organizational structure</li>
    <li>Moderate meetings like retrospectives to identify problems in the organization as well as processes and
      generate possible solutions</li>
  </ul>
</section>

<section class="longform__section">
  <h2 class="longform__heading" id="performance">Web Application Performance</h2>
  <p>
    Performance and particularly benchmarks are a passion of mine that I <a
      href="https://pragtob.wordpress.com/tag/benchmark/">write</a> and <a
      href="https://www.youtube.com/watch?v=sDg4G7Tec0o">talk</a> about. Just one of the many
    reasons that I created the premiere Elixir benchmarking tool <a
      href="https://github.com/bencheeorg/benchee">benchee</a>. I'd love to
    help you make your server response times
    faster, cut down on resource usage, reduce the amount of servers you need to run and provide a snappier user
    experience.
  </p>

  <p>
    How I might help you:
  </p>
  <ul>
    <li>Look at the known pain points in your application and see what we can improve</li>
    <li>Identify opportunities for improvement based on your existing monitoring</li>
    <li>Recommend new performance monitoring approaches</li>
    <li>Help you get rid off pesky n+1 queries & other common performance problems and teach your engineers about them
    </li>
  </ul>
</section>

<section class="longform__section">
  <h2 class="longform__heading" id="open-source">Open Source</h2>
  <p>
    I've been maintaining Open Source projects for longer than people have paid me to do programming. That means I have
    a very clear view of what it means to maintain an Open Source project, the common work flows, what problems you
    might face and what you should look out for before open sourcing something.
  </p>

  <p>
    How I might help you:
  </p>
  <ul>
    <li>Help you identify good candidates for components to open source discussing the pros and cons of open sourcing
    </li>
    <li>Open source projects together with you</li>
    <li>Work on your Open Source projects</li>
    <li>Help you navigate the processes to get a change into a library or if you should rather publish it as an
      extension</li>
  </ul>
</section>

<section class="longform__section">
  <h2 class="longform__heading" id="mentoring">Mentoring/Teaching</h2>
  <p>
    I've been coaching and mentoring in many capacities through introduction to programming workshops, weekly sessions,
    university courses as well as part of my daily work and one-on-ones. I can use that teaching knowledge to help your
    organization shine in my fields of expertise.
  </p>

  <p>
    How I might help you:
  </p>
  <ul>
    <li>Help your engineers adopt a new technology, such as Elixir</li>
    <li>Help your more junior engineers get a better grasp on web development, Object Oriented Programming, Functional
      Programming and many more things</li>
    <li>Run mentoring sessions with your engineers or people new to leadership</li>
    <li>Full courses covering a specific topic such as Testing, performance improvements & others</li>
  </ul>
</section>

<section class="longform__section">
  <h2 class="longform__heading" id="development">Application Development</h2>
  <p>
    With my experience in application development I can help you with building and extending an application. In general
    I aim to cover the whole stack. My core technological lie within Ruby, Rails, Elixir, Phoenix, SQL databases,
    Architecture, Object Oriented Programming and Functional Programming. I've also done JavaScript (plain, AngularJS,
    React) and CSS but my last bigger project was a while ago.
  </p>

  <p>
    How I might help you:
  </p>
  <ul>
    <li>Explore what a good MVP might look like with you to validate your idea and build it</li>
    <li>Tight communication with stakeholders and domain experts to ensure we're building the right thing</li>
    <li>Help with extending an existing application & fixing its problems</li>
    <li>
      Bringing your legacy application up to speed (adding new features, improve performance, update dependencies,
      making it more flexible)
    </li>
    <li>
      Help you decide on the right technology and architecture for your company & your project (Do we need an SPA? Will
      Ruby scale?
      Microservices? Monolith? ...)
    </li>
    <li>Testing: Feature Tests, Unit Tests, TDD</li>
  </ul>
</section>
