---
layout: default
title: Homepage of Khizer Mehdi(mehdidevops)
---

<section id="introduction" class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="profile-picture"></div>
  </div>
  <div id="short-description" class="col-12 col-md-6 offset-lg-2">
    <h1>Tobias Pfeiffer<img src="images/current_status.svg" class='my-status'></h1>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-user" title="nick"></i>Mehdi</li>
      <li><a href="mailto:mehdidevops@gmail.com"><i class="fa fa-li fa-envelope" title="Email"></i> mehdidevops@gmail.com</a>
      </li>
      <li><i class="fa-li fa fa-home" title="Location"></i> Bangalore, India</li>
      <li><i class="fa fa-li fa-heart" title="Passionate about"></i> software development, open source, empathy,
        teaching, web development, clean code, Ruby ...</li>
      <li><i class="fa fa-li fa-suitcase" title="Work Status"></i>Frellancing Consultant, Developer & Interim-Lead</li>
      <li><i class="fa fa-li fa-business-time" title="Freelancing Availability"></i>Booked until the end of 2020
      </li>
      <li><i class="fa fa-li fa-users" title="Groups involved with"></i> <a href="http://www.rug-b.de/">Ruby User Group
          Berlin</a>, <a href="http://railsgirlsberlin.de/">Rails Girls Berlin</a>, <a
          href="http://shoesrb.com/">Shoes</a></li>
    </ul>
  </div>
</section>

<section id="profile-links">
  <ul class="list-inline row offset-1">
    <li class="logo-space col-2"><a href="https://github.com/PragTob"
        title="GitHub - see my open source contributions"><i class="my-icon fab fa-github"></i></a></li>
    <li class="logo-space col-2"><a href="https://pragtob.wordpress.com"
        title="Blog - ideas, reviews, announcements and solutions"><i class="my-icon fab fa-wordpress"></i></a></li>
    <li class="logo-space col-2"><a href="https://twitter.com/PragTob" title="Twitter - my daily ramblings"><i
          class="my-icon fab fa-twitter"></i></a></li>
    <li class="logo-space col-2"><a href="https://de.linkedin.com/in/tobiaspfeiffer"
        title="LinkedIn - see my CV, connect with me etc."><i class="my-icon fab fa-linkedin-in"></i></a></li>
    <li class="logo-space col-2"><a href="https://www.xing.com/profiles/Tobias_Pfeiffer14"
        title="Xing - see my CV, connect with me etc."><i class="my-icon fab fa-xing"></i></a></li>
  </ul>

  <noscript>
    <section id="noscript" class='row'>
      <article class="col-md-12">
        <p>
          If you are seeing this - you have JavaScript deactivated. No worries - except for some layout issues (icons
          too big) the site should work alright. However if you are using the NoScript addon for Firefox - it blocks web
          fonts and therefore you can't see the icons. I'm a NoScript user myself so I'll give you a little list - it's
          not as nice but works:
        </p>
      </article>
      <ul class="list-inline">
        <li class="logo-space col-2"><a href="https://github.com/PragTob"
            title="GitHub - see my open source contributions">github</a></li>
        <li class="logo-space col-2"><a href="https://pragtob.wordpress.com"
            title="Blog - ideas, reviews, announcements and solutions">wordpress</i></a></li>
        <li class="logo-space col-2"><a href="https://twitter.com/PragTob"
            title="Twitter - my daily ramblings">twitter</a></li>
        <li class="logo-space col-2"><a href="http://www.linkedin.com/profile/view?id=231511238"
            title="LinkedIn - see my CV, connect with me etc.">linkedin</a></li>
        <li class="logo-space col-2"><a href="https://www.xing.com/profiles/Tobias_Pfeiffer14"
            title="Xing - see my CV, connect with me etc.">xing</a></li>
      </ul>
    </section>
  </noscript>
</section>
